extends layout

block content
  - var badgeClassList = ["primary", "secondary", "success","danger", "warning", "info"]
  .mt-3.mb-3
    .card.mb-3
      .card-body
        form(method='POST' action='/books')
          div.form-group.mb-2
             label(for='title') Title:
             input#title.form-control(type='text', placeholder='Name of book' name='title')
          div.form-group.mb-2
             label(for='author') Author:
             select#author.form-control(type='select', placeholder='Select author' name='author' required='true' )
              - authors.sort(function(a, b) {let textA = a.family_name.toUpperCase(); let textB = b.family_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
              option(value="all") All Authors 
              for author in authors
               option(value=author._id) #{author.name}  
          button.btn.btn-primary(type='submit') Filter      
    .row.gap-3.d-flex.justify-content-center
      each book in book_list
          .card(style='width: 18rem;' class="mb-3 col-lg-3 col-md-3 col-sm-3 col-xs-6")
            img.card-img-top(src=book.cover_image  class="book-cover-img-contain")
            .card-body
              each genre,index in book.genre
                span(class=`badge bg-${badgeClassList[index]} mx-1`) #{genre.name}
              a(href=`/books/${book._id}`)
                h5.card-text.text-dark.mb-3.mt-2
                  |  #{book.title}
                p.card-text.text-dark.mb-3.book-summary-text
                  | #{book.summary}
              button.btn.btn-primary.btn-danger.w-100(type='button' data-bs-toggle='modal' data-bs-target=`#book-delete-${book._id}` )
                | Delete
              .modal.fade(id=`book-delete-${book._id}` tabindex='-1' aria-labelledby='bookDeletePopupLabel' aria-hidden='true')
                form(method='POST' action=`/books/${book._id}/delete`)
                  .modal-dialog
                    .modal-content
                      .modal-header
                        h5#bookDeletePopupLabel.modal-title Delete Book
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                      .modal-body
                        | Are you sure you want to delete?
                      .modal-footer
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                        input#id(type='hidden' name='id' value=book._id)
                        button.btn.btn-danger(type='submit') Delete
      else
        li There are no books.




